<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#">About</a></li>
        <li><a ng-href="#">Contact</a></li>
    </ul>
    <h3 class="text-muted">route</h3>
</div>

<div class="jumbotron">
    <h1>智能家居接入系统</h1>

    <p class="lead">
        <img src="images/yeoman.png" alt="I'm Yeoman"><br>
        Always a pleasure scaffolding your apps.
    </p>

    <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>

<div class="text-center">
    <img src="images/router.jpg" alt="router"/>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="sound"></div>
    </div>
    <div class="col-md-3">
        <div class="temp"></div>
    </div>
    <div class="col-md-3">
        <div class="light"></div>
        <div ng-switch on="lightOn" ng-click="switchLight()">
            <img ng-switch-when="true" src="images/lightoff.jpg" alt=""/>
            <img ng-switch-default="" src="images/lighton.jpg" alt=""/>
        </div>

        </div>

    </div>
    <div class="col-md-3">
        <div class="other"></div>
    </div>
</div>

<div class="footer">
    <p>♥ from the Franken Zeng.</p>
</div>
